.revenue-main {
  flex: 1;       /* 남은 공간을 전부 채워서 버튼을 밑으로 밀어냄 */
}
.priority-line {
  display: flex;
  align-items: center;
  gap: 8px;
}
.priority-line .remove-goal-button, .priority-ratio-input {
  margin-left: auto;
}
.priority-category {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  cursor: default; /* 클릭은 안되지만 버튼처럼 보이게 */
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.priority-index {
  font-size: 24px; /* 원하는 크기로 조정 */
  font-weight: bold; /* 선택 사항 */
  margin-right: 4px; /* CategoryButton과 간격 */
}
.category-display {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: default;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 18px;
  padding: 12px 16px;
  text-align: left;
  width: fit-content;
  align-items: center;
}